#text-output {
    min-height: 200px;
    border-radius: 3px;
    padding: 10px;
    word-wrap: break-word;
    text-align: left;
}

.text-center {
    align-items: center;
}

.btn {
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: grey;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 7px;
    box-shadow: 0 5px #999;
    align-items: center;
  }
  
  .btn:hover {background-color: lightgray}
  
  .btn:active {
    background-color: gray;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
#text-input {
    min-height: 200px;
}
.banner {
    text-align: center;
    color: rgb(95, 95, 173);
}
.editor .col {
    max-width: 50%;
    flex-basis: 50%;
}
.roweditor .col  {
    float: left;
    display: flow-root;
    clear: none;
}
.bold {
    font-weight:bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}
.bg-light {
    background-color: 	#F5F5F5;
    min-width: 200px;
}